<!-- learn -->
<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="assets/img/fundamentals.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5">
                <h2>Learn fundamentals</h2>
                <p class="lead" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur rem dolore, iusto alias, ab, similique veniam quia harum facere totam fuga autem vitae et nesciunt ea natus accusamus a necessitatibus.</p>
                <a href="https://en.wikiversity.org/wiki/IT_Fundamentals" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-right">Read More</i>
                </a>
            </div>
             

        </div>
    </div>
</section>
