<!-- Contacts -->
<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center">
                    Contact Info
                </h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Main Location:</span>
                        50 Main street Boston MA
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Enrollment Phone:</span>
                        2128919288
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Student Phone:</span>
                        09876567890
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Enrollment Email:</span>
                        studortals@gmail.com
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Student Email:</span>
                        sgrddy@hotmail.comoo
                    </li>
                </ul>
            </div>
          
        </div>
    </div>
</section>