<!-- Newsletter-->
<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Sign up for Our Newsletter</h3>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="username" (keyup)="getVal($event.target)" class="form-control news-input" placeholder="Username"
                    aria-describedby="button-addon2">
                <button (click)="addToList()" class="btn bg-dark btn-lg text-light" type="button" id="button-addon2">Button</button>
                <br>
            </div>
        </div>
        <h3 class="mb-3 mb-md-0">{{username}}</h3>


    </div>
</section>