 <!-- SHOWCASE -->
 <section class="bg-dark text-light p-5 p-lg-0 pt-5 text-sm-start">
    <div class="container d-sm-flex">
        <div>
            <h1>Become a <span class="text-warning">Web developer</span></h1>
            <p class="lead my-4" >Whether you require a newly developed website to enhance customer engagement, a web portal to improve visibility and organization, or a robust and feature-rich web app to automate business processes.</p>
            <button (click)="onClick()" class="btn btn-primary btn-lg" data-toggle="model" data-target="#exampleModal" type="button">Start the Enrollment</button>
            
            
        </div>
        <img class="w-50 img-fluid d-none d-sm-block" src="assets/img/showcase.svg" alt="">
    </div>
</section>
