@media (min-width: 768px) {
    .news-input{
       width: 50%;
    }
 }
 body::before{
 display: block;
 content: '';
 height: 56px;
 }
 .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
 }
 .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height:50%;
    max-height: 280px;
 }
 .card {
    min-height: 300px;
 }
 
 .card2 {
    min-height: 660px;
 }
 #map{
    width: 100%;
    height:100%;
    border-radius:10px;
 }