<!-- Instructors -->
<section id="instructors" class="p-5 bg-primary">
    <div class="container">
        <h2 class="text-center text-white">
            Our Instructors
        </h2>
        <p class="lead mb-5 text-center text-light">
            Our instructors all have at least 5+ experience working as a developer in the industry.</p>
            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="card2 bg-light">
                        <div class="card-body text-center">
                            <div class="fill"> <img src="assets/img/nazli2.jpg" alt="" class="rounded-circle mb-3"></div>
                            <div class="card-title h3">Nazli Crazy</div>
                            <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione voluptatem mollitia voluptates tenetur minus blanditiis commodi aliquam quasi veritatis cupiditate hic laboriosam repellat incidunt asperiores, dicta dolorum eligendi illum!</div>
                            <a href="#" class="i bi bi-twitter"></a>
                            <a href="#" class="i bi bi-facebook"></a>
                            <a href="#" class="i bi bi-instagram"></a>
                            <a href="#" class="i bi bi-linkedin"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card2 bg-light">
                        <div class="card-body text-center">
                            <div class="fill"><img src="assets/img/ebus.jpg" alt="" class="rounded-circle mb-3"></div>
                            <div class="card-title h3">Ebru Saltık</div>
                            <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione voluptatem mollitia voluptates tenetur minus blanditiis commodi aliquam quasi veritatis cupiditate hic laboriosam repellat incidunt asperiores, dicta dolorum eligendi illum!</div>
                            <a href="#" class="i bi bi-twitter"></a>
                            <a href="#" class="i bi bi-facebook"></a>
                            <a href="#" class="i bi bi-instagram"></a>
                            <a href="#" class="i bi bi-linkedin"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card2 bg-light">
                        <div class="card-body text-center">
                            <div class="fill"><img src="assets/img/nazli.jpg" alt="" class="rounded-circle mb-3"></div>
                            <div class="card-title h3">Nazlı Gonca</div>
                            <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ratione voluptatem mollitia voluptates tenetur minus blanditiis commodi aliquam quasi veritatis cupiditate hic laboriosam repellat incidunt asperiores, dicta dolorum eligendi illum!</div>
                            <a href="#" class="i bi bi-twitter"></a>
                            <a href="#" class="i bi bi-facebook"></a>
                            <a href="#" class="i bi bi-instagram"></a>
                            <a href="#" class="i bi bi-linkedin"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card2 bg-light">
                        <div class="card-body text-center">
                            <div class="fill"><img sizes="10px" src="assets/img/refika.jpg" alt="" class="rounded-circle mb-3"></div>
                            <div class="card-title h3">Refika Gonca</div>
                            <div class="card-text">Şu hayatta beni karşılıksız sevdiğine emin olduğum tek insan sensin, sırtımı gönül rahatlığıyla dayayabildiğim sensin, ve beni her zaman sevecek olan da sensin. Sen benim güzeller güzeli annemsin, iyi ki varsın.</div>
                            <a href="#" class="i bi bi-twitter"></a>
                            <a href="#" class="i bi bi-facebook"></a>
                            <a href="#" class="i bi bi-instagram"></a>
                            <a href="#" class="i bi bi-linkedin"></a>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</section>